@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
  font-family: "Roboto", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  width: 100%;
}

#container {
  width: 90%;
  margin: 0 auto;
  max-width: 1500px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: clamp(3.3rem, 10vw, 5rem);
  padding: 0rem 0 1rem 0;
}

.padding-top {
  padding-top: 2rem;
}

.subtitle {
  font-size: clamp(1.6rem, 6vw, 3rem);
  padding: 2rem 2rem 1rem 0px;
  position: relative;
}

.subtitle::before {
  position: absolute;
  top: 20px;
  color: blue;
  width: 500px;
}

.historial {
  font-size: clamp(1.8rem, 6vw, 3rem);
}

.div-nocategories {
  padding: 10px 0px;
  padding-top: 1.2rem;
}

.nocategories {
  font-size: 1.2rem;
  background-color: #ff9800;
  color: white;
  padding: 15px 15px 15px 10px;
  opacity: 0.83;
}

form {
  padding-bottom: 0.8rem;
}

input {
  width: 100%;
  font-size: 1.3rem;
  color: grey;
  border: none;
  outline: none;
  padding: 0.5rem;
  background-color: #f6f4f4;
  border-radius: 2px;
  transition: color 4s ease;
}

input::placeholder {
  color: grey;
  transition: color 0.5s ease;
}

input:focus::placeholder {
  color: transparent;
}

.buttonLimpiar {
  padding: 0.6rem;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #5924ed;
  color: white;
  transition: all 0.3s ease;
  width: fit-content;
}

.buttonLimpiar:hover {
  color: black;
}

.disabled {
  pointer-events: none;
  cursor: none;
  background-color: #7a5fe7;
  color: #f0edfc;
}

.card {
  overflow: hidden;
  text-align: center;
}

.card-grid {
  display: flex;
  row-gap: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 2.5rem;
}

.card-grid .card:nth-of-type(1) img:nth-of-type(1) {
  height: 280px;
  object-fit: cover;
  width: 500px;
}

.card img {
  height: 280px;
  object-fit: cover;
  width: 300px;
}

.card p {
  padding: 8px 5px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}

@media (max-width: 1000px) {
  body {
    font-size: 11px;
  }

  .card-grid .card:nth-of-type(1) img:nth-of-type(1) {
    width: 100vw;
  }

  .card-grid .card:last-of-type img:last-of-type {
    width: 100vw;
    height: 280px;
  }
}

.ultima-busqueda {
  font-size: clamp(1.6rem, 6vw, 3rem);
  padding: 2rem 2rem 0 0;
  color: red;
}

@media (max-width: 768px) {
  .card img {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 400px) {
  .card img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 300px) {
  .card img {
    width: 250px;
    height: 250px;
  }
}
